@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #8e94f2, #e0c3fc); /* Efeito gradiente */
    width: 100%;
}

header {
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    color: #000;
    font-weight: 1000;
    margin-bottom: 10px;
    text-align: center;
}

.container {
    background: #fff;
    max-width: 500px;
    width: 100%;
    border-radius: 25px;
    margin: 150px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.6);
}

.cabecalho {
    display: flex;
    flex-direction: row;
}

.data-dia {
    font-size: 32px;
    font-weight: 600;
    color: #000;
}

.mes-ano {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.mes-ano span {
    color: #000;
    font-size: 18px;
    flex: 1;
}

.data-mes {
    font-weight: 600;
    text-transform: capitalize;
}

.data-ano {
    font-weight: 100;
}

.botao-adicionar {
    width: 45px;
    background: transparent;
    border: none;
    color: #cbb2fe;
    font-size: 15px;
    cursor: pointer;
    margin-left: auto;
    outline: none;
}

.botao-adicionar:hover { /* Mudar cor do botao ao passar o mouse */
    color: #757bc8;
    transition-duration: 0.4s; /* Setar tempo de transicao */
}

input {
    width: 75%;
    margin: 13px auto;
    display: block;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    border: none;
    border-bottom: solid 2px #cbb2fe;
    outline: none;
}

::placeholder { /* Mudar a cor do placeholder do input */
    color: #000;
}

input:focus { /* Mudar a cor do input ao clicar*/ 
    border-color: #757bc8;
    transition-duration: 0.4s;
}

ul {
    list-style: none;
}

li {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    background: #fff;
    border: 3px solid #cbb2fe;
    border-radius: 5px;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#check {
    appearance: none;
    -webkit-appearance: none;
    margin: 0 auto 2px 5px;
    border: 0;
    font-size: 15px;
    width: 17.5px;
    height: 17px;
    background-color: #cbb2fe;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#check::after{
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    content: "\f00c";
    font-size: 16px;
    color: white;
    display: none;
}

#check:hover {
    background-color: #757bc8;
    transition-duration: 0.4s;
}

#check:checked {
    background-color: #5bcd3e;
    transition-duration: 0.4s;
}

#check:checked + span {
    text-decoration: line-through;
    color: #858585;
    transition-duration: 0.4s;
}

#check:checked::after {
    display: block;
}

.botao-excluir {
    background: transparent;
    border: none;
    color: #cbb2fe;
    cursor: pointer;
    font-size: 15px;
    width: 17px;
    height: 17px;
    margin-left: auto;
}

.fa-minus-square:hover{
    color: #757bc8;
    transition-duration: 0.4s;
}

.fa-minus-square:active{
    color: #ff0000;
}

.citacao {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

cite {
    color: #fff;
    font-weight: 500;
}

.contatos {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

a {
    margin: 0 20px;
    color: #000;
}

a:hover {
    transform: scale(1.2); /* Aumentar o icone ao passar o mouse */
    transition-duration: 0.4s;
}